#userTable {
    width: 100%;
  }
  
  #usersTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  
  #usersTable td, #usersTable th {
    border: 1px solid #ddd;
    padding: 8px;
  }